body {
    background-color: thistle;
    margin: 0;

}

header {
    background-color: royalblue;
}

header::after{
    content: '';
    display: table;
    clear: both;
}


.container{
    width: 85%

}

.logo{
    float: left;
    weight: 50px;
    height: 100px;
    padding: 15px;
}

nav {
    float: right;
    text-transform:uppercase;
    font-size: 18px;
    
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li{
    margin-left: 75px;
    display: inline-block;
    padding: 50px;
}

